[Desktop Entry]
Name=EFI Boots
Comment=Manage EFI boot loader entries with this simple GUI
Version=1.0
Exec=efiboots
Type=Application
Terminal=false
Icon=system-shutdown
Categories=Settings;HardwareSettings;GNOME;GTK

